:root{
    --primary-color:#001F3F;
    --secondary-color:#87CEEB;
    --bright-color:#32CD32;
    --text-color:#A9A9A9;
    --white-color:#fff;

}
body{
    justify-content: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    flex-direction: column;
    /* background-image: url("./Navbar image.jpg"); */
    background: linear-gradient(45deg , var(--primary-color) , var(--secondary-color));
    min-height: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
nav{
      justify-content: center;
      align-items: center;
}
nav ul{
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;

}
li{
    display: inline;
    
}

.topnav li a{
    /* display: block; */
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 1.5rem;
     color: var(--secondary-color);
}
.topnav li a:hover{
    border: 1px solid var(--bright-color);
}
.nav-btn{
    position: absolute;
    right: 5px;
    margin-top: 2px;
    display: flex;
}

.nav-btn button{
   
    margin-bottom: 10px;
    
    
}

.btn{
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--bright-color);
    display:block;
    width:7rem;
    border-radius: 8px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.4s;

}

.btn:hover{
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--bright-color);
    transform: rotate(360deg);
}


.logo{
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.logo h1{
    font-size: 5rem;
    text-align: center;

}
.logo span{
    color: var(--white-color);
}

.logo p{
    font-size: 2rem;
    text-align: center;
}

@keyframes fade{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}

.slider{
    overflow: hidden;
    margin:25px auto;
    width: 80%;
    
}

.slide{
    overflow: hidden;
    
    animation-name: fade;
    animation-duration: 1s;
    display: none;
    
    object-fit: cover;
    

}

.slide img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    
}





.program-container{
    height: auto;
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
}
.program-container h1{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
   

}
.program-items{
    display:flex;
    gap: 5px;

}

.program-card{
    display: grid;
    text-align: center;
    height: auto;
    width: 25%;
    padding: 20px;
    cursor: pointer;
    border-radius: 6px;
    
}
.program-card:hover{
    box-shadow: -1px 1px 10px var(--bright-color);
    flex-grow: 10px;
    
}

.program-card i{
    color: var(--secondary-color);
    font-size: 2rem;
}

.program-card h2{
    background:linear-gradient(40deg, var(--text-color),var(--white-color));
    border-radius: 10px;

}

.program-card p{
    color: var(--text-color);
    padding: 5px;
    font-weight: bold;
}

.vision-wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    margin-top: 35px;
    gap: 5rem;
}
.vision-content{
   font-size: 1rem;
   justify-content: center;
}
.vision-content li{
    display: grid;
    line-height: 1.5rem;
}

.vision-wrapper img{
    height: 250px;
    width: 250px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 0px 1px 10px var(--primary-color);
}

.vision-content h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}
.vision-content h1 span{
    color: var(--bright-color);
}

.vision-wrapper button{
    position: absolute;
    left: 35px;
    margin-top: 12rem;
   
}
.footer-container{
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;
}

.footer-wrapper{
    border: 2px solid var(--white-color);
    display: flex;
    padding: 20px;
}

.footer-card{
    padding: 10px;
    display: grid;
    height: auto;
    width: 15%;
}
.large-card{
  width: 25%;
}

.large-card h3{
    font-size: 2rem;
}
.footer-card h3{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto;
}

.footer-card li a {
    display: block;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 5px;
    color: var(--secondary-color);

}
.footer-card li a:hover{
    border-bottom: 1px solid var(--bright-color);
    display: inline;
    color: var(--white-color);
    transition: all 0.2s ease;
} 

.social-links{
    font-size: 2rem;
    margin-top: 5px;
}

.social-links a{
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
}

.social-links a:hover{
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 0.5px solid var(--bright-color);
    
}

.footer-container p{
    color: var(--white-color);
    font-size: 1rem;
}

@media(width<600px){
    .topnav li a{
    
        font-size: 0.75rem;
    }

    .nav-btn button{
        font-size: 0.5rem;
    }
    .nav-btn{
        margin: auto;
        position: relative;
        /* left: 90px; */
        justify-content: center;
        align-items: center;
    
    }

    .program-items{
        display: grid;
        
        
    }
    .program-card{
        width: 100%;
    }

    .vision-wrapper{
        display: grid;
        gap: 2rem;
    
    }
    .vision-wrapper button{
        position: unset;
        display: inline;
    }
    .footer-container{
       
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
    
    }
    .footer-card{
        width: 100%;
    
       
    }

    .contact-container{
        display:flex;
        flex-direction: column;
    }
}


/* Contact Page Styling Start  */

.contact-body{
margin-top:50px ;
padding: 0;
justify-content: center;
text-align: center;
   
}

.contact-body h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.contact-container{
    background-color: var(--primary-color);
    display: inline-flex;
    gap: 5rem;
    justify-content: center;
    margin: 25px auto;
    border: 1px solid var(--bright-color);
    border-radius: 10px;
    box-shadow: 0 -1px  10px rgba(0, 0, 0, 0.2);
}
.contact-card{
    color: var(--text-color);
    margin: 15px auto;
    padding: 10px;
}
.contact-card h3{
    color: var(--white-color);
    font-size: 1.75rem;
}

.contact-form{
    display:grid;
}

.contact-form h3{
    color: var(--white-color);
    font-size: 2rem;
}

.contact-form input{
    font-size: 1.5rem;
    margin:1rem;
   border: none;
   border-bottom: 2px solid var(--bright-color);
   border-radius: 10px;
}


